# ----API keys----

# Get your API key at https://openrouter.ai/ 
# This app uses paid LLMs (<$1 expenditure), your OpenRouter account needs credits.
OPENROUTER_API_KEY=replace_with_your_key_here





